#R-body img:not(.lightbox-image).border,
#R-body .video-container.border {
    border: none !important;
}
#R-sidebar .padding {
    padding-left: 1.3rem !important;
}

#R-body img.bg-white {
    background-color: white;
}

body:not(.print) #R-body-inner h1 {
    line-height: 1.2em;
}

body:not(.print) #R-body-inner p {
    text-align: left !important;
}

body:not(.print) #R-body-inner.narrow {
    padding: 0 3.75rem 2rem 3.75rem;
}

@media screen and (max-width: 59.999rem) {
    body:not(.print) #R-body-inner.narrow {
        padding: 0 2.5rem 1rem 2.5rem;
    }
}

@media only screen and (max-width: 47.999rem) {
    body:not(.print) #R-body-inner h1 {
        font-size: 2.5rem;
    }

    body:not(.print) #R-body-inner.narrow h1 {
        font-size: 2.5rem;
    }

    body:not(.print) #R-body-inner.narrow {
        padding: 0 1.5rem .375rem 1.5rem;
    }
}
