
<div style="display:flex; flex-direction: row; align-items: center; padding-left: 20px;">
    <a href="https://xjmusic.com/">
        <img alt="XJ music" src="/images/xj-symbol.svg" width="32"/>
    </a>
</div>

          <script>
            function githubButtonsScheme(){
              var scheme = 'light';
              var colorPropertyValue = window.getComputedStyle( document.querySelector( '#R-sidebar' ) ).getPropertyValue( 'background-color' );
              var colorValues = colorPropertyValue.match( /\d+/g ).map( function( e ){ return parseInt(e,10); });
              if( colorValues.length === 3 && ((0.2126 * colorValues[0]) + (0.7152 * colorValues[1]) + (0.0722 * colorValues[2]) < 165) ){
                // Luma, https://en.wikipedia.org/wiki/Luma_%28video%29, SMPTE C, Rec. 709 weightings
                scheme = 'dark';
              }
              return scheme;
            }
            function githubButtonsInit(){
              if( !window.githubButtons ){
                // wait for the script to load
                setTimeout( githubButtonsInit, 50 );
                return;
              }
              var scheme = githubButtonsScheme();

              document.querySelectorAll('.github-button-container').forEach(function(element) {
                element.parentNode.removeChild(element);
              });

              var starsElement = document.createElement('a');
              starsElement.className = 'github-button';
              starsElement.href = 'https://github.com/xjmusic/xjmusic';
              starsElement.dataset.colorScheme = scheme; // assuming 'scheme' is defined in your code
              starsElement.dataset.icon = 'octicon-star';
              starsElement.dataset.showCount = 'true';
              starsElement.setAttribute('aria-label', 'Star xjmusic/xjmusic on GitHub');
              starsElement.textContent = 'Star';

              var starsContainerElement = document.createElement('div');
              starsContainerElement.className = 'github-button-container';
              starsContainerElement.style.paddingTop = '11px';
              starsContainerElement.appendChild( starsElement );

              var repoListItem = document.querySelector( '#R-shortcuts > .space > li:first-child' );
              repoListItem.style.display = 'flex';
              repoListItem.style.flexDirection = 'row';
              repoListItem.style.alignItems = 'center';
              repoListItem.appendChild( starsContainerElement);
              document.querySelectorAll( '.github-button' ).forEach( function( anchor ){
                anchor.dataset.colorScheme = scheme;
                window.githubButtons.render( anchor, function( el ){
                  anchor.parentNode.replaceChild( el, anchor );
                });
              });
            }
            document.addEventListener( 'themeVariantLoaded', function( e ){
              // we have to wait until the CSS class .default-animation has settled and the buttons have loaded to recalculate the scheme again
              setTimeout( githubButtonsInit, 400 );
            });
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
              setTimeout( githubButtonsInit, 400 );
            });
          </script>
          <script async src="{{"js/github-buttons.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
